/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.navigation{
  width: 100%;
  height: 100%;
  position: relative;
  padding-left:50px;
  padding-right:50px;
}

.navigation a {padding-top:11px;}

.navigation ul {padding-top:4px;}

@media (max-width:768px){
  .navigation {padding-left:0; padding-right:0;}
  .navigation a {font-size:100%; padding-top:15px; padding-left:50px;}
  .navigation ul {padding-left:40px;}
}

.navigation button {margin-right:50px;}





.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}




/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}


.section {
  padding: 50px 0;
}


/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 40em;
  width: 100%;
  padding:50px;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media (max-width: 768px) {
  .callout {font-size:40%;}
}

.callout2 {
  color: #ffffff;
  display: table;
  height: 200px;
  width: 100%;
  padding-left:25px;
  padding-right:25px;
  background: url(../img/orange.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout3 {
  color: #000000;
  display: table;
padding: 50px;
  width: 100%;
  padding-left:25px;
  padding-right:25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #000000;
  background: #ffffff;
  padding-top: 50px;
}

.call-to-action .btn {
  margin: 10px;
}




/* Footer */

footer {
  padding: 100px 0;
  background:#fff;
;
}
.footer {
    background: #ffffff;

}
.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

/* Footer */

.footer {
  background: #ffffff;
)

}
