/***Page Builder Styling***/
@background: #595a57;
@shadow: #41423f;
@red: #d92b36;
@green: #007CD8;

.row {
   	margin-top: 15px;
}
.wrapper {
	padding: 20px;
	padding-bottom: 100px;
	background-color: @background;
	box-shadow: 8px 8px 0px @shadow;
	color: #fff;
	margin-bottom: 60px;
}
iframe {
   	width: 100%;
   	min-height: 500px;
   	border-width: 0;
   	outline: 0;
   	background-color: #EEE;
}
.form-group{
	padding-bottom: 20px;
}
.btn-remove {
	background: @red;
	color: #fff;
	box-shadow: 3px 3px 0px #91918e;
	border-radius: 0px;
	font-size: 16px;
	float: right;
}
.btn-update {
	background: @green;
	color: #fff;
	float: right;
	box-shadow: 3px 3px 0px #91918e;
	border-radius: 0px;
	font-size: 16px;
}

.nav-tabs {
	li.active > a, li.active a:hover, li a:hover {
		background: @background;
		color: #fff;
		width: 100%;
		border: none;
		border-bottom: 2px solid @background;
		border-radius: 0px;
		font-size: 14px;
	}
	li a {
		background: @shadow;
		color: #fff;
		width: 100%;
		border: none;
		border-bottom: 2px solid @shadow;
		border-radius: 0px;
		font-size: 14px;
	}
}
label {
	font-size: 20px;
	font-weight: normal;
	@media (max-width: 1199px) {
		font-size: 16px;
	}
}

.add-section {
	float: right;
	color: #fff;
	margin-top:-50px;
	button {
		border: none;
	}
	select {
		float: left;
		margin-top: 10px;
		margin-right: 10px;
	}
}
.heightFix {
	margin-top: -40px;
}