<style>body{background-image:background: url('http://subtlepatterns.com/patterns/fabric_of_squares_gray.png'); background-repeat:repeat;}</style>
    	<div class="page-wrapper">
			<div class="container">
				<h1>Relax.</h1>
				<p class="lead">Let us take the <i>stress</i> out of your next career step</p>
				<div class="row">
					<div class="col-md-12">
						<img src="/../images/recsy..job.png" width="75%" class="center-block"/>
						<br>
						<br>
						<br>
						<p>Sign in with LinkedIn and see your personal website come to life in seconds. Upload your projects and let people see what makes you you. <b>56% of hiring managers</b> were more impressed with a candidate's website than any other branding tool. What's a better way to spend the next five minutes?</p>
						<br>
						<p><b>Who are we?</b> We're your career expert, cheerleader, personal website builder, connection to recruiters. We're two recent college grads who <i>get</i> what it's like to have to represent yourself on one black-and-white page when you're <i>so</i> much more than a resume. At Recsy, we want the <i>real</i> you to shine in a way that gets <b>noticed</b> by recruiters.</p>
						<br>
						<p>Finding a job, internship, or getting into grad school is hard. Let Recsy make it easier for you. So relax ;). You've earned it.</p>
						<br>
					</div>
				</div>
			</div>
        </div>