<style>body{background: url('http://subtlepatterns.com/patterns/fabric_of_squares_gray.png'); background-repeat:repeat;}</style>

            <!-- price-1 -->
            <section class="price-1">
                <div class="container">
                    <h1>Get Started With Our Plans</h1>
                    <p class="lead">
                        Start impressing recruiters today
                    </p>
                    <div class="row plans">
                        <div class="col-sm-6">
                            <div class="plan">
                                <div class="title">Starter</div>
                                <div class="price"><b>$8.99</b>/month for 3 months<br><b>$6.99</b>/month for 12 months</div>
                                <div class="description">
                                	up to <b>5</b> templates<br>
                                    image upload<br>
                                    <b>free</b> domain name<br>
                                    <b>unlimited</b> updates<br>
                                    <br>
                                    <br>
                                </div>
                                <a class="btn btn-primary" href="#">Choose this plan</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="plan">
                                <div class="title">Professional</div>
                                <div class="price"><b>$11.99</b>/month for 3 months<br><b>$9.99</b>/month for 12 months</div>
                                <div class="description">
                                    <b>20+</b> templates<br>
                                    image upload<br>
                                    <b>free</b> domain name<br>
                                    <b>unlimited</b> updates<br>
                                    listed for recruiters<br>
                                    <b>free</b> inbox<br>
                                </div>
                                <a class="btn btn-default">Coming Soon!</a>

                                <div class="ribbon label label-warning">Coming Soon!</div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>